{% set template = package('template').createPackage(theme_name) %}
{% set parent_component = parent_component|default('') %}
{% set hide_title = hide_title|default(true) %}
{% set components = template.getComponents(parent_component) %}

{% if hide_title != true %}
<div class="ui header">
    <i class="project diagram blue small icon"></i>
    <div class="content">
        {{ title }}
    </div>    
</div>
<div class="ui divider"></div>
{% endif %}
<div class="ui list">
    {% for file in components %}   
    {% set translations = template.getComponentTranslations(file.full_name) %}  
    {% set child_components = template.getComponents(file.full_name) %}  
    <div class="item">
        <div class="left floated content">            
            {% if template.hasLanguage(translations,language) == true %}              
                {% set hide_create = 'invisible' %}
                {% set hide_edit = '' %}              
            {% else %}
                {% set hide_create = '' %}
                {% set hide_edit = 'invisible' %}
            {% endif %}          
            {% set disabled = (translations.languages|length == 0) ? 'disabled' : '' %}
            <button class="ui mini green button icon create-translation {{ disabled }} {{ hide_create }}" 
                theme="{{ theme_name }}"
                component-name="{{ file.full_name }}"                
                language="{{ language }}"
                title="{{ labels.translate }}">
                <i class="icon plus"></i>
            </button>                       
            <button id="edit_translaton_{{ file.name }}" class="ui mini basic button icon edit-translation {{ hide_edit }}" 
                theme="{{ theme_name }}"
                component-name="{{ file.full_name }}"
                title="{{ labels.edit }}" 
                language="{{ language }}">
                <i class="icon edit blue"></i>                    
            </button>           
        </div>
        <i class="file code outline icon"></i>       
        <div class="content" >
            <div class="header">
                {% if child_components|length > 0 %}
                    <a class="load-child-components" 
                        component-id="{{ file.id }}" 
                        parent="{{ file.full_name }}" 
                        theme="{{ theme_name }}" 
                        language="{{ language }}" >
                        {{ file.name }}   
                    </a>
                {% else %}   
                    {{ file.name }}   
                {% endif %} 
            </div>
            <div class="description">      
                {% if child_components|length > 0 %}
                    <button class="ui tertiary mini button icon load-child-components"
                        title="{{ labels.child }}"
                        component-id="{{ file.id }}" 
                        parent="{{ file.full_name }}" 
                        theme="{{ theme_name }}" 
                        language="{{ language }}" >
                        {{ child_components|length }}
                        <i class="icon angle right"></i>
                    </button>                
                {% endif %} 
                <i class="globe icon small blue" title="{{ labels.translations }}"></i>  
                {% for item in translations.languages %}
                <i class="pl-1 flag {{ (item == 'en') ? 'us' : item }}"></i>
                <span class="underline">
                    {{ item }}
                </span>
                {% endfor %}
            </div>
            <div id="components_content_{{ file.id }}" class="mt-1 mb-1 hidden p-1">
            </div>
        </div>      
    </div>
    {% endfor %}
</div>