<div class="ui vertical fluid menu editor-menu">
    {% for key, item in items %}
        {% set editor = editors[item.editor] %}
        <div class="item link editor-menu-item" editor-item="{{ key }}" component="{{ editor.component }}" theme-name="{{ theme_name }}">           
            <div class="content">
                {% if editor.icon is not empty %}
                    <i class="icon blue {{ editor.icon }}"></i>
                {% endif %}
                {{ editor.title }}
            </div>          
        </div>
    {% endfor %}
</div>