{%  set items = [ 
        { id: 'translate_tab', title: labels.translate, icon: 'language', component: 'translations::admin.translate', active: true },                 
        { id: 'translate_settings_tab', title: labels.settings, component: 'translations::admin.settings', icon: 'cogs' }, 
        { id: 'translate_help_tab', title: labels.help, component: 'translations::admin.help', icon: 'help' }    
    ] 
%}

{{  component('components:tabs',{ 
        items: items,
        menu: { component: 'system:admin.extensions.menu.actions', extension: 'translations' },
        content: { component: 'translations::admin.translate' } 
    })
}}