{% if uuid is not empty %}
{% set page = createModel('Routes').findById(uuid)  %}
{% endif %}
<div class="item" id="route_{{ page.uuid }}">    
    <div class="content">
        {% if page.status == 1 %}
        <i class="icon olive check"></i>
        {% else %}
        <i class="icon orange times"></i>
        {% endif %}
        <i class="icon blue file outline"></i>
        {% if page.type == 3 %}
        <i class="icon green home"></i>
        {% endif %}
        {{ page.pattern }}
        <div class="ui right floated content">
            {% if (page.page_name is not empty) %}
            <div class="ui basic label">
                <i class="icon blue code"></i>
                {{ page.page_name }}
            </div> 
            {% endif %}
            {% if (page.extension_name is not empty) %}
            <div class="ui basic label">
                <i class="icon blue puzzle"></i>
                {{ page.extension_name }}
            </div>           
            {% endif %}
            {% if (page.template_name is not empty) %}
            <div class="ui basic label">
                <i class="icon blue file outline"></i>
                {{ page.template_name }}
            </div>           
            {% endif %}           
        </div>
        <div class="description mt-2">
            {% if demo_mode != true %}
                {% if page.status == 1 %}
                <button class="ui basic mini compact button status-route" status="0" uuid="{{ page.uuid }}">
                    <span class="ui text orange">{{ labels.disable }}</span>
                </button>
                {% else %}
                <button class="ui basic mini compact button status-route" status="1" uuid="{{ page.uuid }}">
                    <span class="ui text green">{{ labels.enable }}</span>
                </button>
                {% endif %}
            {% else %}
                <div class="ui warning message">{{ labels.demo }}</div>
            {% endif %}
            
            {% set middlewares = (page.middlewares is not empty) ? page.middlewares|jsonDecode(false) : [] %}  
            {% for middleware in middlewares %}
            <div class="ui basic label" title="{{ labels.middleware }}">
                <i class="icon blue file code outline"></i>
                {{ middleware|baseClass }}
            </div>
            {% endfor %}           
        </div>       
    </div>
</div>