{% set type = type|default('components') %}

{% for property_name, property_value in items %}
    {% set property_key = (parent_key is not empty) ? parent_key ~ '_' ~ property_name : property_name %}
    {% if property_value is iterable %}
        <tr>
            <td>
                {{ property_name }}
            </td>
            <td>              
                <table class="ui definition table">
                    {{  component('translations::admin.translate.template.details.translation.editor.items',{
                            items: property_value,      
                            parent_key: property_key,                   
                            theme_name: theme_name,
                            type: type,
                            component_name: component_name,
                            language: language
                        }) 
                    }}
                </table>
            </td>
        </tr>       
    {% else %}
        <tr>
            <td class="two wide column">{{ property_name }}</td>
            <td id="property_{{ property_key }}">               
                <button class="ui basic mini icon button edit-property" 
                    title="{{ labels.edit }}"
                    type="{{ type }}" 
                    theme="{{ theme_name }}" 
                    language="{{ language }}" 
                    component-name="{{ component_name }}"
                    property-key="{{ property_key }}">
                    <i class="icon edit blue"></i>
                </button>
                <span>{{ property_value }}</span>
            </td>
        </tr>
    {% endif %}
{% endfor %}