<div class="ui segment">
    <div class="ui grid">
        <div class="ten wide column">
            <span class="font-bold p-1">
                {{ labels.theme }}
            </span>       
            {{ component('system:admin.templates.dropdown',{ skip: ['system'], selected: selected_theme }) }}

            <span class="font-bold p-1 hidden" id="page_label">
                {{ labels.page }}
            </span>
            <span class="" id="page_selector">               
            </span>       
        </div>
    </div> 
</div>
<div id="page_editor">
    
</div>