{% set template = package('template').createPackage(theme_name) %}
{% set type = type|default('components') %}
{% set translation = template.readTranslation(component_name,language,type) %}
{% set file_name = template.getTranslationRelativeFileName(component_name,language,type) %}
<div class="ui header">
    <i class="globe icon small blue"></i>  
    <div class="content">
        {{ title }}
    </div>    
</div>
<div class="ui divider"></div>
<div class="ui segment">
    <div class="ui label basic">
        {% if type == 'components' %}
            <i class="icon project diagram blue small"></i>
            <div class="detail">
                {{ labels.component }}
            </div>
        {% else %}
            <i class="icon file outline blue small"></i>
            <div class="detail">
                {{ labels.page }}
            </div>
        {% endif %}
        <span class="ui text font-bold teal pl-2 pr-1">{{ component_name }}</span>
    </div>
    <div class="ui label basic">
        <i class="icon globe small blue"></i>
        <div class="detail">
            {{ labels.language }}
        </div>
        <span class="ui text font-bold teal pl-2 pr-1">{{ language }}</span>
    </div>
    <div class="ui label basic">
        <i class="icon file code outline blue small"></i>
        <div class="detail">
            {{ labels.file }}
        </div>
        <span class="ui text font-bold teal pl-2 pr-1">..{{ file_name }}</span>
    </div>
</div>
<div>     
    {{  component('translations::admin.translate.template.details.translation.editor',{
            translation: translation,
            type: type,
            theme_name: theme_name,
            component_name: component_name,
            language: language
        }) 
    }}
</div>