<div class="mt-4">  
    <div class="ui stackable text menu">
        <div class="item right floated">       
            {{ component('components:paginator.dropdown',{ namespace: 'pages' }) }}
        </div>
    </div>       
    <div id="view_pages" class="ui list divided relaxed big" component="editor::admin.pages.items" namespace="pages">
        {{ component('editor::admin.pages.items') }}   
    </div>
    <div class="mt-4" id="paginator">
        {{ component('components:paginator',{ namespace: 'pages' }) }}
    </div>
</div>
