<table class="ui table definition"> 
    <tbody>      
        <tr>
            <td class="two column wide">
                {{ labels.title }}
            </td>   
            <td>
                {{ head.title }}
            </td>         
        </tr>
        <tr>
            <td>
                {{ labels.description }}
            </td>
            <td>
                {{ head.description }}
            </td>  
        </tr>
        <tr>
            <td>
                {{ labels.keywords }}
            </td>
            <td>
                {{ head.keywords }}
            </td>  
        </tr>
    </tbody>
</table>   