{% set template = package('template').createPackage(theme_name) %}
{% set parent_component = parent_component|default('') %}
{% set hide_title = hide_title|default(true) %}
{% set components = template.getComponents(parent_component) %}

{% if hide_title != true %}
    <div class="ui header">
        <i class="project diagram blue small icon"></i>
        <div class="content">
            {{ title }}
        </div>    
    </div>
    <div class="ui divider"></div>
{% endif %}
<div class="ui list relaxed {{ class }}">
    {% for file in components %}       
        {% set child_components = template.getComponents(file.full_name) %}  
        <div class="item">           
            <i class="file code outline icon"></i>              
            <div class="content">
                <button class="ui mini icon basic button edit-file right floated" file="{{ file.full_name }}" type="component" theme="{{ theme_name }}">
                    <i class="icon edit"></i>
                </button>     
                <div class="header">
                    {% if child_components|length > 0 %}
                        <a class="load-child-components" 
                            component-id="{{ file.id }}" 
                            parent="{{ file.full_name }}" 
                            theme="{{ theme_name }}" 
                            language="{{ language }}">
                            {{ file.name }}   
                        </a>
                    {% else %}   
                        {{ file.name }}   
                    {% endif %} 
                </div>               
                <div id="components_content_{{ file.id }}" class="mt-1 mb-1 hidden p-1">
                </div>
            </div>      
        </div>
    {% endfor %}
</div>