{% component 'components:tabs.vertical.content' %}
{% set driver_name = getOption('translations.service.driver') %}
{% set driver = service('driver').create(driver_name) %}
{% set items = driver.getLanguages() %}
<div class="mt-4">
{% if items|length == 0 %}
    <div class="ui error message">
        {{ messages.error }}
    </div>
{% else %}    
    <table class="ui very basic table">
        <tbody>
        {% set index = 0 %}
        {% for item in items %}   
            {% if index == 0 %}
            <tr>
            {% endif %}  
            <td class="">{{ item }}</td>
            {% set index = index + 1 %}
            {% if index == 5 %}
            </tr>
            {% set index = 0 %}
            {% endif %}  
        {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>
{% endcomponent %}